<router-outlet #myOutlet="outlet"></router-outlet>
<div [hidden]="myOutlet.isActivated" style="padding-top: min(50%, 160px); text-align: center">Keine Liste ausgewählt.
  Erstellen Sie doch eine neue!
</div>


<ng-template #templateForParent>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let list of lists"
       [routerLink]="'/list/'+list.id"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">

      <span [matBadgeHidden]="!getNotificationForList(list.id).length"
            [matBadge]="getNotificationForList(list.id).length" style="overflow: visible"
            matBadgeOverlap="false">{{list.item!.description}}</span>

      <mat-icon *ngIf="list.isLoading">sync</mat-icon>
    </a>

    <a mat-tab-link>
      <div (click)="showDialog($event)" style="top: 0;bottom: 0;position: absolute;right: 0;left:0">
      </div>
      <mat-icon><i class="material-icons">add_circle_outline</i></mat-icon>
    </a>
  </nav>
</ng-template>

