.layout {
  display: grid;
  grid-template-areas:
    "toolbar"
    "content"
    "subMenu";

  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-height: 100vh;
}

.toolbar {
  grid-area: toolbar;
}

.content {
  overflow: auto;
  grid-area: content;
}

.subMenu {
  grid-area: subMenu;
  background: red;
}


.layout {

}
