<div style="position: relative">
  <div style="position: absolute; right: 5px; top: 5px">
    <i class="material-icons" style="cursor: pointer" (click)="shareList()">share</i>
  </div>
  <div>
    <form (submit)="addItem()" class="item-add-form">
      <mat-form-field>
        <input matInput placeholder="Wir brauchen" #newItem [(ngModel)]="addNewItemText" name="item-text">
      </mat-form-field>
      <button mat-icon-button color="primary" type="submit"><mat-icon>add</mat-icon></button>
    </form>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let item of items" (click)="checkItem(item)" [ngClass]="{'finished': !!item.boughtAt}"
                   style="cursor: pointer">
      <mat-icon *ngIf="!item.boughtAt">done</mat-icon>
      <mat-icon *ngIf="!!item.boughtAt">add_shopping_cart</mat-icon>
      <span class="full-width"> {{item.description}}</span>
      <span *ngIf="!!item.boughtAt" style="white-space: nowrap">{{item.boughtAt.toDate() |  amTimeAgo}}</span>
      <mat-icon *ngIf="!!item.boughtAt">done</mat-icon>
      <mat-icon *ngIf="!item.boughtAt" (click)="removeItem($event, item)" color="warn">delete</mat-icon>
    </mat-list-item>
  </mat-list>
</div>
