.mat-list-item {
  display: flex;
}

.mat-list-item mat-icon {
  margin-left: auto;
  cursor: pointer;
}

.mat-list-item:nth-of-type(even) {
  background: lightgray;
}

.finished {
  opacity: 0.5;
}

.layout {

}

.item-add-form {
  display: flex;
  align-items: center;

  :first-child {
    flex: 1;
    max-width: min(80%, 1024px);
  }
}
